.blockzone{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    height: 100vh;
    width: 100%;
    nav{
        width: 20%;
    }
    main{
        width: 80%;
    }
}