.mainContent {
    display: flex;
    justify-content: flex-start;
    align-self: start;
    flex-wrap: wrap;
    overflow: hidden;

    section {
        width: 70%;
    }

    aside {
        width: 30%;
    }
}

.tagsList {
    padding: 0.25rem;
    border: 2px solid black;
    border-radius: 10px;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;

    .singleTagBtn {
        transition: all 0.5s;

        &:hover {
            background-color: red;

            div {
                display: inline-block
            }
        }

        div {
            display: none;
            transition: 0.5s;
        }
    }

}