table {
    background: white;
    border-radius: 10px;

    tbody {
        th {
            border-style: none;
        }

        td {
            padding-top: 0;
            padding-bottom: 0;
            &.tableTitle{
                padding:0 1rem 0 0.5rem
            }
            border-style: none;
            .mainTitle{
                font-size:x-large
            }
            .minTitle{
                font-size: medium;
            }
            .date{
                text-align: right;
                font-size: xx-small;
            }
        }

    }
}